<% if params[:tab] == 'activities' %>
<div data-controller="build-map" data-build='true' ></div>
<% end %>
  <div class="activity-tag">
    <div>
      <%= link_to 'All', child_path(@child, tab: 'activities'), class: "btn btn-success" %>
      <% ActsAsTaggableOn::Tag.all.each do |tag| %>
        <%= link_to tag, child_path(@child, tab: 'activities', tag: tag.name), class: "btn btn-success" %>
      <% end %>
    </div>
    <%= render 'childcard', child: @child %>
  </div>
    <%= render './activity_components/activity_search_result', activities: @activities, child: @child %>
