<div class="childcard-container">
  <div class="childcard">
    <% if child.photo.attached?%>
      <%= cl_image_tag child.photo.key, class:'avatar-bordered'%>
    <% else %>
      <%= image_tag "profile-photo1.png", class:'avatar-bordered'%>
    <% end %>
    <div class='child-card-text'>
      <p><%= @child.first_name.capitalize %>
        <br>
        <%=@child.age%></p>
    </div>
  </div>
</div>
