.index-child-container {
  margin: 2em;
}

.btn-child-show {
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.calendar-events {
}

.date-border {
  border: 3px solid rgba(165, 50, 50, 0.8);
  // background-image: asset-url('textured-stripes.png');
}
