.brand-name {
  color: #C9ACA9;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: 700;
  font-family: $title-font;
}
.brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.landingpage-logo {
  height: 140px;
  margin-right: 0.5em;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
}

.cta-btn {
  font-size: 20px;
  border-radius: 10px;
  width: 20%;
  font-weight: 1000;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7)
}

.container-home{
  padding-top: 30px;
  text-align: center;
}
