<p class="map-text-title"><%= activity.name %></p>
<span class="map-text-content"><p>Address:<br><%= activity.address %></p></span>
<p>Open <a href="https://www.google.com/maps/search/<%= activity.name %>" target="_blank" rel="noopener noreferrer">Google Maps</a></p>
