.upload-photo {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  background: $primary;
  border-radius: 15px;
  color: white;
  &:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(196, 196, 196, 0.3);
  }
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.rounded-size {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
