.table th, .table td {
  padding: 0.4rem;
}

.calendar-heading {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  a {
    color: black;
  }
}

.calendar-height{
  margin-top: 150px;
}

.mark-date {
  color: blue;
  font-weight: 700;
  text-decoration: underline;
}
