.event{
  margin-bottom: 4em;
  margin-left: 3em;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  // border: solid 2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0 ,0.4);
  position: relative;
  h2 {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 1px rgba(0, 0, 0 ,0.4);
  }
}

.photo-box{
background-color:white;
width: 600px;
height: 180px;
text-align: center;
margin: 0 auto;
padding-top:30px;
box-shadow: 0 0 15px rgba(133, 133, 133, 0.6);
padding-left: 15px;
padding-right: 15px;
h4{
  text-align: center;
  font-size: 24px;
  padding-bottom:10px;
}
  h5{
  font-size: 24px;
  }
}

.dashed-box {
  border: 1px dashed rgba(145,206,156, 1);
  border-width: 3px;
  padding: 8px 24px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  margin: auto 8px;
  color: #c9aca9;
  font-weight: 700;
   &:hover {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
}

.passed-dashed-box {
  border: 1px dashed grey;
  border-width: 3px;
  padding: 8px 24px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  margin: auto 8px;
  color: grey;
  font-weight: 700;
}
.input-text {
  font-weight: 800;
  font-size: 24px;
  text-decoration: underline;
  color: #c9aca9;
  font-style: italic;
}

.input-text-title {
  font-weight: 800;
  font-size: 32px;
  text-decoration: underline;
  color: #c9aca9;
  font-style: italic;
}

.event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.paragraph-style {
  line-height: 2em;
  font-family: $story-font;
  font-weight: 700;
  font-size: 20px;
  padding-left: 2em;
  a {
    color: #c9aca9;
    text-decoration: none;
  }
}

.upload-location {
  position: absolute;
  right: 10px;
  top: -45px;
}

.event-title {
  margin-left: 9em;
  font-size: 32px;
  line-height: 0;
}

.no-event-background {
  background-image: asset-url('background-paint.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
