.card-products {
  background: white;
  box-shadow: 0 0 15px #00000066;
  border-radius: 8px;
  margin: 20px;
  padding: 0px;
  height:550px;
}



.card-products img {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

.card-products h2 {
  font-size: 24px;
  font-weight: bold;
  padding: -5px 0px;
  margin: 0px;
}

.card-products p {
  font-size: 18px;
  line-height: 1.6;
  opacity: .7;
  margin-bottom: 10px;
}

.card-products-info {
  padding: 16px 16px 16px 16px;
  padding-top: 16px;
  height: 40%;
}

.index-h1{
  font-size: 60px;
  padding-top: 0px;
  margin-top: 0px;
  font-family: $title-font;
}

.child-relative{
  position: relative;
}


.edit-child{
color:grey;
position: absolute;
top: 20px;
right: 20px;
font-size:20px;
}

.position-absolute{
  position: absolute !important;
  bottom: 20px;
  left: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;

}
.width-index{
  width: 92%;
}
.width-children-cards{
  width: 95%;
  margin-left: 0px;
}

.align-right{
  text-align: right;
}

.seemore a{
  text-decoration: none;
}

.event-box{
  padding: 10px;
  margin:10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 5px;
}

.image-tag-index{
  width:30px !important;
  height:30px !important;
}

.line-height{
  line-height: 1.2;
  margin-bottom: 0%;
}

.width-event{
 width: 40%;
}
