.centered {
  margin-bottom: 18px;
}

.modal-h2{
  text-align: center;
  font-size: 40px;
  text-decoration: grey;
  padding-bottom: 20px;
}

.modal-p {
  text-align: justify;
  line-height: 1.6;
  font-size: 20px;
}

.modal-price{
  text-align: center;
  font-size: 26px;
  padding-bottom: 10px;
}
