.navbar-lewagon {
  justify-content: space-between;
  background: rgb(63, 143, 76);
  height: 120px;
  font-size: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
