.navbar-lewagon {
  justify-content: space-between;
  background: rgb(145, 206, 156);
  height: 48px;
  font-size: 20px;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 48px;
}

.nav-item {
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin-top: 16px;
  a {
    color: rgba(0, 0, 0, 0.6);
  }
}
