// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// @import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

// Your CSS partials
@import "components/index";
@import "components/sidebar";
@import "pages/index";

body {
    position: relative;
    background-image: asset-url('geometry.png');
    line-height: 1rem;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(190, 255, 190, 0.1);
}
