<div>
  <%= event.occasion.capitalize %>
  <%= simple_form_for event do |f| %>
    <%= f.input :activity_id, as: :hidden, input_html: { value: @activity.id }  %>
    <%= f.submit "Add to event", class: "btn-lg btn-primary" %>
  <% end %>
</div>
